
body{
	font-family: sans-serif;
	color: #444444;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: -1%;
}
#header	{
	background-color: black;
	position: static;
	margin-left: -25%;
	margin-right:-25%;
	z-index: 1;
}
header{
	font-family: "serif";
	color:white;
	font-size: 160px;
	position:relative;
	top: 40px;
	float:center;
	white-space: nowrap;
	z-index:1 ;
}
/*#sidebar{
	background-color: #FEFEFE;
	position: fixed;
	height: 425px;
	margin-left:-5px;
	margin-top: -768px;
	width:150px;
	float:left;
}*/
#hbar-text{
	font-family: "Arial Black";
	font-size:15px;
	color: #666666;
	position: relative;
	top:-30px;
	word-spacing: 48px;
	white-space: nowrap;
	z-index: 1;
}

#header-bar{
	background-color: #666666;
	height: 1px;
	position: relative;
	top: -150px;
	z-index: 1;
}

#mbar-text{
	font-family: "Helvetica Neue";
	font-weight: 900;
	font-size:25px;
	color: #000000;
	position: relative;
	word-spacing: 60px;
	top: -40px;
	white-space: nowrap;
}

#mbar{
	background-color: #000000;
	height: 5px;
	position: relative;
	top: 20px;
}
#divider{
	background-color: #000000;
	height: 2px;
	position: relative;
	top: 22px;	
}

#d2{
	background-color: #000000;
	height: 2px;
	position: relative;
	top: 30px;	
}
#projects{
	font-family: "Helvetica Neue";
	font-weight: 900;
	font-size:23px;
	color: #bc9850;
	position: relative;
	top: 8px;
	margin-bottom: -30px;
	white-space: nowrap;
}

#content{
	background-position: relative;
	background-attachment: ;
	margin-top: 70px;
}
#cbar{
	background-color: #000000;
	height: 2px;
	position: relative;
	top: 10px;
	bottom: 90px;
}


#footer{
	clear: both;
	width: 100%;
	height:100px;
	background-color: #FEFEFE;
}

.align-left{
	text-align: left;
	margin-left: 15%;
}
.align-right{
	text-align: right;
	margin-right: 15%;
}

.align-center{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}
a.black:link, a.black:visited, a.black:hover, a.black:active {
  color: #000000;
  text-decoration: none; }
a.grey:link, a.grey:visited, a.grey:hover, a.grey:active {
  color: #666666;
  text-decoration: none; }